*{
  margin: 0;
  padding: 0;
}

html, body{
  font-size: 18px;
  background-color: #f5f6f7;
}

h1{
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

.App{
  min-height: 100vh; /*Tomara el minimamente el 100% de la pantalla verticalmente*/
  display: flex;
  flex-wrap: wrap; /*Si un lemento toma el ancho del contenedor, los otros elementos se ubicaran debajo de el*/
  
  align-items: center;
  justify-content: center;  /*Centrar horizontalmente*/

  text-align: center;
}

.contenedor-principal{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
